body {
  font-family: Arial;
  background: #ece5dd;
}

.chat-container {
  width: 400px;
  margin: 40px auto;
  background: white;
  padding: 10px;
  border-radius: 10px;
}

#messages {
  height: 400px;
  overflow-y: scroll;
}
