# CREDENCIALES DE TWILIO
TWILIO_ACCOUNT_SID=#Variable ubicada como alternativa, pero inutilizada en versión actual
TWILIO_AUTH_TOKEN=#Variable ubicada como alternativa, pero inutilizada en versión actual
TWILIO_WHATSAPP_NUMBER=whatsapp:#Variable ubicada como alternativa, pero inutilizada en versión actual

# CREDENCIALES DE ACCESO A LLMs
OPENAI_API_KEY=#Variable ubicada como alternativa, pero inutilizada en versión actual
GEMINI_API_KEY=

# CREDENCIALES DE META DEVELOPER
ACCESS_TOKEN=
APP_ID=
APP_SECRET=
VERSION=v22.0
PHONE_NUMBER_ID=

VERIFY_TOKEN=
ADMIN_TOKEN=